
	<!--================Home Banner Area =================-->
	<section class="banner_area">
		<div class="banner_inner d-flex align-items-center">
			<div class="container">
				<div class="banner_content text-center">
					<h2>Xác nhận đơn đặt hàng</h2>
					<div class="page_link">
						<a href="/index">Trang chủ</a>
						<a href="/confirmation">Xác nhận đơn</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Home Banner Area =================-->

	<!--================Order Details Area =================-->
	<section class="order_details p_120">
		<div class="container">
			<h3 class="title_confirmation">Cảm ơn. Đơn hàng của bạn đã được nhận</h3>
			<div class="row order_d_inner">
				<div class="col-lg-4">
					<div class="details_item">
						<h4>Thông tin đơn hàng</h4>
						<ul class="list">
							<li>
								<a href="#">
									<span>Mã số đơn hàng</span> : 60235</a>
							</li>
							<li>
								<a href="#">
									<span>Tại</span> : Los Angeles</a>
							</li>
							<li>
								<a href="#">
									<span>Tổng</span> : USD 2210</a>
							</li>
							<li>
								<a href="#">
									<span>Payment method</span> : Check payments</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="details_item">
						<h4>Billing Address</h4>
						<ul class="list">
							<li>
								<a href="#">
									<span>Street</span> : 56/8</a>
							</li>
							<li>
								<a href="#">
									<span>City</span> : Los Angeles</a>
							</li>
							<li>
								<a href="#">
									<span>Country</span> : United States</a>
							</li>
							<li>
								<a href="#">
									<span>Postcode </span> : 36952</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="details_item">
						<h4>Shipping Address</h4>
						<ul class="list">
							<li>
								<a href="#">
									<span>Street</span> : 56/8</a>
							</li>
							<li>
								<a href="#">
									<span>City</span> : Los Angeles</a>
							</li>
							<li>
								<a href="#">
									<span>Country</span> : United States</a>
							</li>
							<li>
								<a href="#">
									<span>Postcode </span> : 36952</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="order_details_table">
				<h2>Order Details</h2>
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Product</th>
								<th scope="col">Quantity</th>
								<th scope="col">Tổng</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<p>Áo gucci</p>
								</td>
								<td>
									<h5>x 02</h5>
								</td>
								<td>
									<p>720.000 VND</p>
								</td>
							</tr>
							<tr>
								<td>
									<p>Quần mango</p>
								</td>
								<td>
									<h5>x 02</h5>
								</td>
								<td>
									<p>720.00) VND</p>
								</td>
							</tr>
							<tr>
								<td>
									<p>Giày jordan</p>
								</td>
								<td>
									<h5>x 02</h5>
								</td>
								<td>
									<p>720.000 VND</p>
								</td>
							</tr>
							<tr>
								<td>
									<h4>Tổng chi phí</h4>
								</td>
								<td>
									<h5></h5>
								</td>
								<td>
									<p>2.160.000 VND</p>
								</td>
							</tr>
							<tr>
								<td>
									<h4>Vận chuyển</h4>
								</td>
								<td>
									<h5></h5>
								</td>
								<td>
									<p>Giao hàng chuẩn: 50.000 VND</p>
								</td>
							</tr>
							<tr>
								<td>
									<h4>Tổng</h4>
								</td>
								<td>
									<h5></h5>
								</td>
								<td>
									<p>2.210.000 VND</p>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>
	<!--================End Order Details Area =================-->

	