
	<!--================Home Banner Area =================-->
	<section class="banner_area">
		<div class="banner_inner d-flex align-items-center">
			<div class="container">
				<div class="banner_content text-center">
					<h2>Quên mật khẩu</h2>
					<div class="page_link">
						<a href="/index">Trang chủ</a>
						<a href="/login">Quên mật khẩu</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Home Banner Area =================-->

	<!--================Login Box Area =================-->
	<section class="login_box_area p_120">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<img class="img-fluid" src="img/login.jpg" alt="">
						<div class="hover">
							<h4>Bạn mới vào trang web của chúng tôi</h4>
							<p>Sẩn phẩm của chúng tôi rất tuyệt vời, bạn hãy thử trải nghiệm, nó sẽ không làm bạn thất vọng đâu!</p>
							<a class="main_btn" href="/registration">Tạo tài khoản mới</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Quên mật khẩu</h3>
						{{#if hasErrors}}
            				<div class="alert alert-danger login_form">
                				{{#each messages }}
                    				<p>{{this.msg}}</p>
               					{{/each}}
            				</div>
							
							<br>
							<br>
							<br>
						<form class="row login_form" action="forgot" method="post" id="contactForm" novalidate="novalidate">
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" id="username" name="username" placeholder="Tên đăng nhập">
							</div>
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" id="email" name="email" placeholder="Địa chỉ email">
							</div>
							
							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="btn submit_btn">Gửi</button>
								
							</div>
						</form>
						{{else}}
							{{#if hasSuccess}}
							<div class="alert alert-success login_form">
								{{#each success }}
                    				<p>{{this.msg}}</p>
               					{{/each}}		
            				</div>
							<br>
							<br>
							<br>
							{{else}}
							<form class="row login_form" action="forgot" method="post" id="contactForm" novalidate="novalidate">
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" id="username" name="username" placeholder="Tên đăng nhập">
							</div>
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" id="email" name="email" placeholder="Địa chỉ email">
							</div>
							
							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="btn submit_btn">Gửi</button>
								
							</div>
						</form>
							{{/if}}
       					{{/if}}
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->

	